@{
    ViewBag.Title = "CreateUser";
}

<h2>CreateUser</h2>
@using (Html.BeginForm())
{
    <div>
        <label for="userName">Username</label>
        <input type="text" name="userName" />
    </div>
    <div>
        <label for="password">Password</label>
        <input type="text" name="password"/>
    </div>
    <div>
        <label for="roles">Roles (comma separated string)</label>
        <input type="text" name="roles"/>
    </div>
    <input type="submit" value="Save" />
}